.head{
    width: 7.5rem;
    height: 2.57rem;
    margin: 0 auto;
    background-color: #1ec5d9;
}
.status{
    width: 7.5rem;
    height: 0.4rem;
}
.status img{
    width: 7.5rem;
    height: 0.4rem;
}
.head-top{
    width:7.5rem;
    height: 0.98rem;
    display: flex;
    justify-content: space-between;
}
.return{
    width: 0.37rem;
    height: 0.37rem;
    text-align: center;
    line-height: 0.38rem;
    background-color: #ffffff;
    border-radius: 50%;
    margin-left: 0.24rem;
    margin-top: 0.3rem;

}
.return i{
    font-size: 0.3rem;
    color:#1ec5d9;
}
.head-title{
    width: 2.5rem;
    height: 0.5rem;
    font-size: 0.38rem;
    text-align: center;
    line-height: 0.5rem;
    color: #fcf8f8;
    margin: 0.25rem 1.2rem;
}
.share{
    width: 0.37rem;
    height: 0.37rem;
    text-align: center;
    line-height: 0.38rem;
    background-color: #ffffff;
    border-radius: 50%;
    margin-right: 0.24rem;
    margin-top: 0.3rem;

}
.share i{
    font-size: 0.3rem;
    color:#1ec5d9;
}
.message{
    width: 7.5rem;
    height: 0.9rem;
    margin-bottom: 0.24rem;
}
.message-item{
    width: 2.8rem;
    height: 0.18rem;
    font-size: 0.18rem;
    color: #fcf8f8;
    margin-left: 0.24rem;
}
.message-item1{
    width: 6rem;
    height: 0.25rem;
    font-size: 0.22rem;
    color: #fcf8f8;
    margin-top: 0.1rem;
    margin-left: 0.24rem;
}
.message-item2{
    font-size: 0.22rem;
    color: #fcf8f8;
    margin-top: 0.05rem;
    margin-left: 0.24rem;
    display: flex;
}
.message-name{
    width: 2.8rem;
    height: 0.21rem;
    font-size: 0.22rem;
    color: #fcf8f8;
    margin-right: 0.1rem;
    padding-top: 0.05rem;
}
.message-item2 img{
    width: 0.14rem;
    height: 0.24rem;
    margin-top: 0.1rem;
}
.message-phone{
    width: 1.53rem;
    height: 0.16rem;
    font-size: 0.22rem;
    color: #fcf8f8;
    margin-left: 0.15rem;
    padding: 0.05rem;
}
/*头部结束*/
.middle{
    width: 7.5rem;
    height: 11.1rem;
    background-color: #eeeeee;
    margin: 0 auto;
    position: relative;
}
.warn{
    width: 7.02rem;
    height: 0.24rem;
    margin-left: 0.24rem;
    padding-top: 0.28rem;
    display: flex;
}
.warn img{
    width: 0.24rem;
    height: 0.24rem;
}
.warn-font{
    width: 2.4rem;
    height: 0.21rem;
    font-size: 0.22rem;
    color: #1ec5d9;
    margin-left: 0.3rem;
    margin-top: -0.02rem;
}
.time{
    width: 7.02rem;
    height: 1.35rem;
    background-color: #ffffff;
    border: solid 0rem #301268;
    margin-left: 0.24rem;
    border-radius: 0.1rem;
    position: absolute;
    top:0.72rem;
}
.evaluate{
    width: 7.02rem;
    height: 0.7rem;
    display: flex;
}
.eva-item{
    width: 2rem;
    height: 0.22rem;
    font-size: 0.22rem;
    color: #1ec5d9;
    margin-top: 0.24rem;
    margin-left: 0.1rem;
}
.eva-time{
    width: 1.8rem;
    height: 0.21rem;
    font-size: 0.22rem;
    color: #1ec5d9;
    margin-left: 2.9rem;
    margin-top: 0.24rem;
}
.eva-time i{
    font-size: 0.22rem;
    color:#1ec5d9;
}
.line{
    width: 6.76rem;
    height: 0.01rem;
    border: solid 0.02rem #000000;
    opacity: 0.1;
}
.evaluate p.active{
    margin-top: 0.2rem;
}
.certain{
    width: 3.94rem;
    height: 0.54rem;
    position: absolute;
    top:2.6rem;
    left:1.9rem;
    text-align: center;
}
.chinese{
    font-size: 0.28rem;
    letter-spacing: 0.1rem;
    color: #1ec5d9;
}
.English{
    font-size: 0.28rem;
    color: #1ec5d9;
    opacity: 0.6;
    margin-top: 0.1rem;
}
.cake{
    width: 7.01rem;
    height: 1.09rem;
    background-color: #ffffff;
    border-radius: 0.1rem;
    position: absolute;
    top:3.85rem;
    left: 0.24rem;
    display: flex;
}
.cake-tu{
    width: 1.13rem;
    height: 0.88rem;
    margin-left: 0.24rem;
}
.cake-tu img{
    width: 1.13rem;
    height: 0.88rem;
}
.scale{
    width: 5rem;
    height: 100%;
    margin-left: 0.6rem;
    position: relative;
}
.scale-name{
    width: 3rem;
    height: 0.26rem;
    font-size: 0.28rem;
    letter-spacing: 0.02rem;
    color: #050505;
    margin-top: 0.10rem;
}
.underline{
    width: 1.8rem;
    height: 0.03rem;
    border: dotted 0.01rem #c0c0c0;
    margin-top: 0.2rem;
}
.price1{
    width: 3.5rem;
    height: 0.25rem;
    display: flex;
}
.comment{
    font-size: 0.24rem;
    margin-top: 0.1rem;
    letter-spacing: 0.01rem;
    color: #f9cd36;
}
.add-big{
    height: 0.38rem;
    display: flex;
    position: absolute;
    top:0.28rem;
    right:0.1rem;
}
.add{
    width: 0.38rem;
    height: 0.38rem;
    background-color: #1ec5d9;
    border-radius: 50%;
    border: solid  0rem #301268;
    color: #fff;
    font-size: 0.28rem;
    text-align: center;
    line-height: 0.32rem;

}
.add-num{
    color: #1ec5d9;
    margin-left: 0.05rem;
    margin-right: 0.05rem;

}
.add1{
    width: 0.38rem;
    height: 0.38rem;
    background-color: #1ec5d9;
    border-radius: 50%;
    border: solid  0rem #301268;
    color: #fff;
    font-size: 0.28rem;
    text-align: center;
    line-height: 0.32rem;
    /*margin-left: 1.3rem;*/
    margin-top: 0.1rem;
}
.only{
    width: 1.55rem;
    height: 0.23rem;
    font-size: 0.18rem;
    letter-spacing: 0.01rem;
    color: #1ec5d9;

}
.middle div.top{
    position: absolute;
    top:5.38rem;
    left: 0.24rem;
}
.total{
    width: 7.02rem;
    height: 0.88rem;
    background-color: #ffffff;
    position: absolute;
    top:6.9rem;
    left: 0.24rem;
}
.total-item{
    font-size: 0.28rem;
    letter-spacing: 0.01rem;
    color: #595959;
    float: left;
    margin-left: 0.24rem;
    margin-top: 0.24rem;
}
.total-item1{
    font-size: 0.28rem;
    letter-spacing: 0.01rem;
    color: #f9cd36;
    float: right;
    margin-right: 0.24rem;
    margin-top: 0.24rem;
}
.total div.en{
    font-size: 0.18rem;
    letter-spacing: 0.01rem;
    color: #3ff66a;
}
.reduce{
    font-size: 0.18rem;
    letter-spacing: 0.01rem;
    color: #f9cd36;
    float: left;
    margin-left: 0.4rem;
    position: absolute;
    top: 7.9rem;
}
.pre{
    font-size: 0.18rem;
    letter-spacing: 0.01rem;
    color: #f9cd36;
    position: absolute;
    top: 7.9rem;
    right: 0.4rem;
}
.middle div.tree{
    position: absolute;
    top: 8.5rem;
 }
.total-item1 i{
    font-size: 0.3rem;
    color: #000;
    opacity: 0.6;
}
.middle div.green{
    position: absolute;
    top:9.8rem;
}
/*中间结束*/
.footer{
    width: 7.5rem;
    height: 1.2rem;
    margin: 0 auto;
    position: relative;
}
.afford{
    width: 3.56rem;
    height: 0.6rem;
    background-color: #f9cd36;
    border-radius: 0.21rem;
    text-align: center;
    line-height: 0.25rem;
    position: absolute;
    top:0.3rem;
    left: 2rem;
    display: flex;
}
.pay{
    font-size: 0.28rem;
    letter-spacing: 0.01rem;
    color: #fcfcfa;
    margin-top: 0.12rem;
    margin-right: 0.1rem;
}
.footer img{
    width: 0.1rem;
    height: 0.1rem;

}
.air{
    margin-left: 0.88rem;
    margin-top: 0.25rem;
    margin-right: 0.1rem;
}
.air1{
    margin-top: 0.25rem;
    margin-right: 0.1rem;
}