.container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: fixed;
    top:0;
}
.bg-login{
    width: 100%;
    height: 100%;
}
.bg-login img{
    width: 100%;
    height: 100%;
}
.shade{
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
    margin: 0 auto;
    position: absolute;
    top:0;
}
.status{
    width: 7.5rem;
    height: 0.4rem;
    background-color: #000;
    opacity: 0.5;
    margin: 0 auto;
    position: absolute;
    top:0;
}
.status img{
    width: 7.5rem;
    height: 0.4rem;
}
.bottom{
    width: 4.38rem;
    height: 3.62rem;
    background-color: #ffffff;
    border-radius: 0.1rem;
    opacity: 0.42;
    position: absolute;
    bottom:3.99rem;
    left: 0;
    right: 0;
    margin:  auto;
}
.second{
    width: 5.07rem;
    height: 3.92rem;
    background-color: #ffffff;
    border-radius: 0.1rem;
    opacity: 0.41;
    position: absolute;
    bottom:4.19rem;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.first{
    width: 5.61rem;
    height: 4.16rem;
    background-color: #ffffff;
    border-radius: 0.1rem;
    position: absolute;
    bottom:4.39rem;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.username{
    width: 4.02rem;
    height: 0.5rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0.4rem auto;
}
.username-img{
    width: 0.5rem;
    height: 0.5rem;
}
.username-img img{
    width: 0.5rem;
    height: 0.5rem;
}
.circle{
    width: 3.27rem;
    height: 0.47rem;
    border: solid 0.02rem #1ec5d9;
    border-radius: 0.21rem;
    display: flex;
}
input{
    width: 2rem;
    height: 0.2rem;
    font-size: 0.2rem;
    color: #000000;
    opacity: 0.2;
    margin-left: 0.2rem;
    margin-top: 0.12rem;
}
.dot{
    width: 0.06rem;
    height: 0.06rem;
    background-color: #1ec5d9;
    border-radius: 50%;
    margin-left: 0.2rem;
    margin-top: 0.18rem;
}
.register{
    width: 2.57rem;
    height: 0.54rem;
    background-color: #000000;
    opacity: 0.6;
    font-size: 0.28rem;
    text-align: center;
    line-height: 0.54rem;
    border-radius: 0.28rem;
    color: #ffffff;
    margin-left: 1.64rem;
    margin-top: 0.55rem;
}
.login{
    width: 1.53rem;
    height: 0.54rem;
    background-color: #1ec5d9;
    border-radius: 0.28rem;
    font-size: 0.28rem;
    color: #ffffff;
    text-align: center;
    line-height: 0.54rem;
    position: absolute;
    top:0.6rem;
    right: 0.39rem;
}